:root {
    --bg-color-main: #ffffff;
    --bg-color-promo: #a0d9d6;
    --color-text-primary: #363636;
    --font-size-base: 16px;
    --font-size-small: 12px;
    --color-white: #ffffff;
    --color-gray: #f6f5f5;
    --color-red: #ff5d5d;
    --color-black: #000;
    --promo-height: 30px;
    --header-height: 65px;
}

body, html {
    color: var(--color-text-primary);
    background-color: var(--bg-color-main);
    font-size: var(--font-size-base);
    font-family: sans-serif;
    margin: 0;
}

figure, img {
    margin: 0;
}

.banner-promo {
    background-color: var(--bg-color-promo);
    padding: 2px 0;
    text-align: center;
    color: var(--color-white);
    font-size: var(--font-size-small);
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: var(--promo-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
header {
    position: absolute;
    top: var(--promo-height);
    padding: 5px 0;
    width: 100%;
    height: var(--header-height);
}

.logo {
    width: 90%;
    margin: 0 5%;
}

.logo > a {
    padding: 15px 0;
    display: block;
}

.logo img {
    max-width: 205px;
}

main {
    padding-top: calc(var(--header-height) + var(--promo-height));
}

.page-width {
    margin: 0 7%;
    padding: 0 30px;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.product-wrapper {
    background-color: var(--color-gray);
    padding-bottom: 30px;
}

.product-thumbnail > img{
    width: 100%;
    object-fit: contain;
}

.product-info {
    padding-left: 70px;
    padding-right: 50px;
}

.product-title {
    margin-top: 20px;
    font-size: 1.56rem;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 1.25em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product-prices {
    font-size: 1.25rem;
    margin-bottom: 15px;
    font-weight: bolder;
}

.product-price-compare {
    color: var(--color-red);
    text-decoration: line-through;
}

.product-list-rating {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    line-height: 30px;
    margin-bottom: 15px;
}

.stars {
    display: flex;
    display: -webkit-flex;
}

.star {
    font-size: 30px;
    color: #ccc;
}

.star.active {
    color: #ffb829;
}

.rating-count {
    margin-left: 15px;
}

.product-description > p {
    line-height: 1.5em;
    letter-spacing: .03em;
    margin-bottom: 30px;
}

.button {
    padding: 14px 0;
    border: 2px solid var(--color-black);
    background-color: transparent;
    outline: 0;
    cursor: pointer;
}

.product-atc {
    display: flex;
    display: -webkit-flex;
}

.product-qty {
    flex-basis: 34%;
    -webkit-flex-basis: 34%;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-minus, .btn-plus, .label-qty {
    padding: 1rem 0.5rem;
    flex-basis: 33.33%;
    -webkit-flex-basis: 33.33%;
}

.btn-minus {
    border-right: none;
}

.btn-plus {
    border-left: none;
    border-right: none;
}

.label-qty {
    background-color: var(--color-white);
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    line-height: 15px;
    box-sizing: border-box;
}

.btn-atc {
    flex-basis: 66%;
    -webkit-flex-basis: 66%;
    font-weight: bolder;
    letter-spacing: .2em;
}

.upsell-wrapper {
    background-color: var(--color-gray);
}

.product-video {
    position: relative;
    width: 100%;
}

.upsell-content {
    padding: 50px 30px 30px 30px;
    background-color: #efeded;
}

.upsell-title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.upsell-price {
    margin-top: 10px;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .col-2 {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .page-width {
        margin: 0 20px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 480px){
    .page-width {
        margin: 0;
        padding: 0 5px;
    }

    .product-info {
        padding-left: 10px;
        padding-right: 10px;
    }
}
